/* Navigation (Shared) */
nav {
  text-align: center;
  padding: 3rem 0;
}

nav a {
  color: #f0f0f0;
  margin: 0 1rem;
  font-size: 1.1rem;
  text-decoration: none;
}

nav a:hover {
  color: #c99abf;
  text-decoration: underline;
}

:root{
  --accent: #ff4fd8; /* neon magenta light */
}